.nav-title{
    font-size: 34px;
    color: #4E47FF;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 270px 0px 30px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    /* font-size: 20px; */
}
.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
}
.banner-content{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
.banner{
    text-align: center;
    margin: 300px 395px 152px 150px;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
}